
<div class="card" style="width: 18rem;">
  <div class="container pt-5">
    <div class="row justify-content-center align-items-center">
        <mat-card class="example-card">
            <img mat-card-image src="../assets/space.jpg" alt="Photo of a Shiba Inu">
            <mat-card-actions>
              <button mat-raised-button color="primary" [routerLink]="['/profile/view']" routerLinkActive="" >Profile</button>
            </mat-card-actions>
          </mat-card>
    </div>
  </div>
  <div class="card-body">

  </div>
</div>
