<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="_toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="navbar-spacer"></span>
      <h1>Supplier App</h1>
      <span class="navbar-spacer"></span>
      <mat-icon class="navbar-icon">verified_user</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<ng-sidebar-container style="height: 100vh;">

  <!-- A sidebar -->
  <ng-sidebar [(opened)]="_opened" mode="over" closeOnClickOutside="true" autoCollapseWidth=500>

    <div class="container pl-0">
      <app-profile-side-bar></app-profile-side-bar>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>


  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <router-outlet></router-outlet>
  </div>

</ng-sidebar-container>

<!-- <router-outlet></router-outlet> -->
