<div class="container pt-3">
  <div class="row">
      <mat-card class="col-md-12">
    <div class="example-container">
        <mat-form-field >
            <input matInput placeholder="*Name" value="{{profile?.name}}" [(ngModel)]="profile.name">
          </mat-form-field>

          <mat-form-field>
              <input matInput placeholder="*Surname" value="{{profile?.surname}}" [(ngModel)]="profile.surname">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="*Email" value="{{profile?.email}}" [(ngModel)]="profile.email">
              </mat-form-field>

            
              <div class="row">

                <div class="col-md-auto">
                    <button mat-raised-button color="primary" (click)="update()" >Save</button>
                </div>
              </div>
    </div>
    </mat-card>
</div>

<!-- <div class="container pt-3">
    <mat-card class="col-md-12">
    <div class="row justify-content-md-center">

      <div class="col-md-auto">
          <mat-form-field>
              <input matInput placeholder="*Name" value="{{profile?.name}}">
            </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-md-center">

        <div class="col-md-auto">
            <mat-form-field>
                <input matInput placeholder="*Name" value="{{profile?.name}}">
              </mat-form-field>
        </div>
      </div>

      <div class="row justify-content-md-center">

          <div class="col-md-auto">
              <mat-form-field>
                  <input matInput placeholder="*Name" value="{{profile?.name}}">
                </mat-form-field>
          </div>
        </div>
    </mat-card>
  </div>

  <div class="container pt-3">
      <mat-card class="col-md-12">
      <div class="row justify-content-md-center">
  
        <div class="col-md-auto">
            <mat-form-field>
                <input matInput placeholder="*Name" value="{{profile?.name}}">
              </mat-form-field>
        </div>
      </div>
  
      <div class="row justify-content-md-center">
  
          <div class="col-md-auto">
              <mat-form-field>
                  <input matInput placeholder="*Name" value="{{profile?.name}}">
                </mat-form-field>
          </div>
        </div>
  
        <div class="row justify-content-md-center">
  
            <div class="col-md-auto">
                <mat-form-field>
                    <input matInput placeholder="*Name" value="{{profile?.name}}">
                  </mat-form-field>
            </div>
          </div>
      </mat-card>
    </div> -->

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
      
          <!-- Surname Column -->
          <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
            <td mat-cell *matCellDef="let row"> {{row.surname}} </td>
          </ng-container>
      
          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row" > {{row.email}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
